
<strong>Create Your Mentor Profil</strong>
<img src=<%= current_user.pic_url %> class="avatar-large" alt="avatar">

<div class="wrapper bg-dark">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-10  col-sm-offset-1">
        <div class="form-container-large">
          <h1>Create a Mentor Profil</h1>
          <%= simple_form_for @mentor_profil do |f| %>
            <%= f.input :experience, placeholder:"Describe your experiences" %>
            <%= f.input :minimum_price, placeholder: "Enter a price" %>
          	<%= f.input :mentor_skills, collection: Ticket::SKILLS, input_html: { multiple: true } %>
            <%= f.submit "Create your Profil", class: "btn btn-primary " %>
          <% end %>
      	</div>
      </div>
    </div>
  </div>
</div>

