
<div class="container">
  <div class="row">
    <%= render 'shared/square-card-mentor', mentor: @mentor_profil.user %>
    
    <div class="Mentor">
      <img class="avatar-large" src=<%= @mentor_profil.user.pic_url%>>
      <p><%= @mentor_profil.user.first_name %>  <%= @mentor_profil.user.last_name %></p>

      <p>Price / Hours : <%= @mentor_profil.minimum_price %></p>
      <p>Expérience : <%= @mentor_profil.experience %></p>
      <br>
      <br>
      <% @mentor_profil.user.speaking_language.each do |langue| %>
      <span class="flag-icon flag-icon-<%= langue.downcase %>"></span>

      <% end %>
      <ul>
        
      </ul>
      <br>
      <br>
      <%= link_to "back", mentor_profils_path %>
      <% @reviews.each do |review| %>
    <%= render 'shared/reviewcard', review: review %>
    <% end %>
    </div>
  </div>
</div>

