
<div class="container">
  <div class="row">
    <%= render 'shared/square-card-mentor', mentor: @mentor_profil %>
    
    <div class="Mentor">
      
      <p>Expérience : <%= @mentor_profil.experience %></p>
      <br>
      <br>
      <% @mentor_profil.user.speaking_language.each do |langue| %>
        <span class="flag-icon flag-icon-<%= langue.downcase %>"></span>

      <% end %>
      
      <br>
      <br>
      
      <%= render 'shared/reviewscard', reviews: @reviews %>
      
      <br>
      <br>
      
      <%= link_to "Dashboard", tickets_path(status: "open"), class: "btn btn-primary" %>
      <%= link_to "back", mentor_profils_path, class: "btn btn-success" %>
    </div>
  </div>
</div>

