  <div class="Mentor">
      
      <p>Expérience : <%= @mentor_profil.experience %></p>
      <br>
      <br>
      <% @mentor_profil.user.speaking_language.each do |langue| %>
        <span class="flag-icon flag-icon-<%= langue.downcase %>"></span>

      <% end %>
      <div class="col-xs-12 col-sm-4 col-md-6">
      <%=render 'shared/square-card-mentor', mentor:@mentor_profil.user %>
      </div>
      <br>
      <br>
      <%= render 'shared/reviewscard', reviews: @reviews %>
      
      <br>
      <br>
      
      <%= link_to "Dashboard", tickets_path(status: "open"), class: "btn btn-primary" %>
      <%= link_to "back", mentor_profils_path, class: "btn btn-success" %>
    </div>
  </div>

</div>


