<div class="bigcard general-card">
  <div class="row">
    <div class="col-xs-10">
      <h1><%= @ticket.title %></h1>
    </div>
    <div class="col-xs-2">
      <p class="price"><%= humanized_money_with_symbol(ticket.price_cents) %> / hour</p>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-md-8">
      <div class="ticket-content"><%= simple_format(@ticket.content) %></div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <div class="skills">
        <p class="secondary-title">Needed skills</p>
        <% ticket.tag_names.each do |skill| %>
          <p class="skill"><%= skill %></p>
        <% end %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <div class="informations">
        <div class="bigcard-flag">
          <p class="secondary-title">Languages spoken</p>
          <% ticket.speaking_language.each do |langue| %>
            <span class="flag-icon flag-icon-<%= langue.downcase %>"></span>
          <% end %>
        </div>
        <p class="created-at">Created <%= time_ago_in_words(ticket.created_at) %> ago</p>
      </div>
    </div>
  </div>
</div>

<div class="ticket_button">
  <div class="row">
    <div class="col-xs-col-xs-4">
      <% #if policy(@ticket).edit? %>
        <%= link_to 'Completed', close_ticket_path(@ticket),
        method: :post, data: { confirm: "Are you sure?" } %>
      <% #end %>
  </div>
</div>




