<div class="bigcard">

  <div class="bigcard-avatar">
    <% if ticket.mentor.blank? %>
      <img src="emptyavatar.png" alt="loulou.png">
     <% else %>
      <img src=<%= ticket.mentor.pic_url %> alt="mentor-avatar">
    <% end %>
  </div>

  <div class="bigcard-date">
    <p>Ticket created at:</p>
    <%=ticket.created_at%>
  </div>

  <div class="bigcard-title"> <%= ticket.title %></div>

  <div class="bigcard-content"> <%= ticket.content %></div>


  <div class="bigcard-flag"><p>drapeau</p></div>

  <div class="bigcard-price">
    <p> Price max/h :</p>
    <% if ticket.status == "open" %>
      <%= ticket.price %>
    <% else %>
      <%= ticket.mentor.mentor_profil.minimum_price %>
      <% end %>
  </div>

  <div class="bigcard-skills">
    <%= ticket.tag_names%>
  </div>

</div>




