<div class="bigcard">

  <div class="bigcard-avatar">
    <% if ticket.mentor.blank? %>
      <%= image_tag 'emptyavatar.png' %>
     <% else %>
      <img src=<%= ticket.mentor.pic_url %> alt="mentor-avatar">
    <% end %>
  </div>

  <div class="bigcard-date">
    <p>created at:</p>
    <h2><%=l(ticket.created_at, format: :short) %></h2>
  </div>

  <div class="bigcard-title"> <%= ticket.title %></div>

  <div class="bigcard-content"> <%= ticket.content %></div>


  <div class="bigcard-flag"><% ticket.speaking_language.each do |langue| %>
    <span class="flag-icon flag-icon-<%= langue.downcase %>"></span>

    <% end %></div>

  <div class="bigcard-price">
      <h2><%= ticket.price %> €/hour</h2>
  </div>

  <div class="bigcard-skills">
   <% ticket.tag_names.take(5).each do |skill| %>
   <div class="skill">
     <p><%= skill %></p>
   </div>
   <% end %>
 </div>
</div>




