<div class="contactcard">
  <div class="contactcard-title">
    <h2>Get in touch with <%= mentor.user.first_name %> <%= mentor.user.last_name %> and start working</h2>
  </div>
  <div class="contactcart-contact">
    <p><i class="fa fa-envelope"></i><%= mentor.user.email %></p>
    <p><i class="fa fa-phone"></i><%= mentor.user.phone_number %></p>
  </div>
  <div class="contactcard-tools"></div>
    <a href="https://atom.io/"><%=image_tag'atom-5.svg', :class => "atom" %></a>
    <a href="https://www.skype.com/fr/"><i class="fab fa-skype"></i></a>
    <% if mentor.user.slack_id %>
        <p>
          <%= link_to "https://lewagon-alumni.slack.com/messages/#{mentor.user.slack_id}/", target: "_blank" do %>
            <%= image_tag'slack-1.svg', :class => "slack_img" %>
          <% end %>
        </p>
    <% end %>
  </div>
</div>
