
<!-- Langue::COUNTRIES.values -->
  <div class="container">
    <div class="row">
      <div class="col-xs-6 col-sm-offset-3">
          <%= simple_form_for ticket do |f| %>
            <%= f.input :title, placeholder:"Title of the ticket" %>
            <%= f.input :content, placeholder:"Description of the ticket" %>
            <%= f.input :tag_names, collection: Gutentag::Tag.all.map(&:name), input_html: { multiple: true } %>
            <%= f.input :price_cents, placeholder: "Hours rate" %>
            <%= f.input :ticket_duration, placeholder:"How many hours / what's the repartition?" %>
            <%= f.input :ticket_location, placeholder: "Do you need someone close to your Location?" %>
            <%= f.input :speaking_language, collection: Langue::COUNTRIES.to_a.map(&:reverse), input_html: { multiple: true } %>
            <%= f.input :priority, collection: Ticket::PRIORITIES, prompt: "What is the priority of the mission" %>
            <%= f.submit "Your ticket", class: "btn btn-primary" %>
          <% end %>
    </div>
  </div>
</div>



