<div class="long-ticket-card">
  <div class="long-card-created">
    <p>created the </p>
    <h2><%= l(ticket.created_at, format: :short) %></h2>
  </div>
  <img class="long-card-user" src="https://kitt.lewagon.com/placeholder/users/tgenaitay">
  <div class="long-card-description">
    <h2> <%= link_to ticket.title, ticket_path(ticket)  %> </h2>
    <p><%= ticket.content %></p>
  </div>
  <div class="long-card-price">
    <p> <%= ticket.price %> €/hour </p>
  </div>
  <div class="long-card-skills">
    <% ticket.tag_names.take(4).each do |skill| %>
      <div class="skill">
        <p><%= skill %></p>
      </div>
    <% end %>
  </div>
  <div class="long-card-flag">
    <img src="https://raw.githubusercontent.com/tkrotoff/famfamfam_flags/master/bg.png" width="20" >
    <img src="https://raw.githubusercontent.com/tkrotoff/famfamfam_flags/master/fr.png" width="20" >
  </div>
</div>
