<div class="card">
  <div class="informations">
    <img src=<%= mentor.pic_url %> class="avatar-large" alt="avatar">
    <p><%= mentor.first_name %> <%= mentor.last_name %></p>
    <%= link_to "choose #{mentor.first_name} #{mentor.last_name}", tickets_mentor_path(@ticket, mentor) %>
  </div>
  <div class="card-description">
    <% if mentor.reviews.blank? %>
      <p>No review yet</p>
    <% else %>
      <ul>
        <% mentor.reviews.each do |review| %>
          <li><%= review.description %></li>
        <% end %>
      </ul>
    <% end %>
  </div>
</div>

