
<div class="square-mentor-card">
  <img class="square-mentor-card-user" src=<%= mentor.pic_url %> alt="mentor-avatar">
  <a class="card-link" href="#" ></a>
  <div class="square-mentor-card-name">
    <h2> <%= mentor.first_name %> €/hour </h2>
  </div>
  <div class="square-mentor-card-price">
    <h2> <%= @ticket.price %> €/hour </h2>
  </div>
  <div class="square-mentor-card-skills">
    <% @ticket.tag_names.take(4).each do |skill| %>
      <div class="skill">
        <p><%= skill %></p>
      </div>
    <% end %>
  </div>
  <div class="square-mentor-card-reviews">
    <p><%= mentor.reviews.count %> reviews </p>
    <div class="square-mentor-card-reviews-stars">
      5.0
      <i class="fa fa-star "></i>
    </div>
  </div>
  <div class="square-mentor-card-batch">
    <p>BATCH 121</p>
  </div>
</div>











