
<div class="square-mentor-card">
  <img class="square-mentor-card-user" src=<%= mentor.pic_url %> alt="mentor-avatar">
  <a class="card-link" href="#" ></a>
  <div class="square-mentor-card-name">
    <h2> <%= mentor.first_name %> <%= mentor.last_name %></h2>
  </div>
  <div class="square-mentor-card-price">
    <h2> <%= @ticket.price %> €/hour </h2>
  </div>
  <div class="square-mentor-card-skills">
    <% @ticket.tag_names.take(5).each do |skill| %>
      <div class="skill">
        <p><%= skill %></p>
      </div>
    <% end %>
  </div>
  <div class="square-mentor-card-reviews">
    <p><%= mentor.reviews.count %> reviews </p>
    <div class="square-mentor-card-reviews-stars">
      5.0
      <i class="fa fa-star "></i>
    </div>
  </div>
  <div class="square-mentor-card-batch">
    <p>BATCH 121</p>
  </div>



<!-- Button trigger modal -->
<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
  <p> Launch demo modal </p>
</button>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel"><%= mentor.first_name %> <%= mentor.last_name %></h4>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
