<div class="square-mentor-card" data-toggle="modal" data-target="#myModal<%= mentor.id%>">
  <img class="square-mentor-card-user" src=<%= mentor.pic_url %> alt="mentor-avatar">
  <a class="card-link" href="#" ></a>
  <div class="square-mentor-card-name">
    <h2> <%= mentor.first_name %> <%= mentor.last_name %></h2>
  </div>
  <div class="square-mentor-card-price">
    <h2> <%= @ticket.price %> €/hour </h2>
  </div>
  <div class="square-mentor-card-skills">
    <% @ticket.tag_names.take(5).each do |skill| %>
      <div class="skill">
        <p><%= skill %></p>
      </div>
    <% end %>
  </div>
  <div class="square-mentor-card-reviews">
    <p><%= mentor.reviews.count %> reviews </p>
    <div class="square-mentor-card-reviews-stars">
      5.0
      <i class="fa fa-star "></i>
    </div>
  </div>
  <div class="square-mentor-card-batch">
    <p>BATCH 121</p>
  </div>
</div>

<div class="modal fade" id="myModal<%= mentor.id%>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <img class="mentor-card-user" src=<%= mentor.pic_url %> alt="mentor-avatar">
        <h4 class="modal-title" id="myModalLabel"><%= mentor.first_name %> <%= mentor.last_name %></h4>
        <p><%= mentor.batch_wagon %></p>
      </div>
      <div class="modal-body">
        <div class="skill"><p><%= mentor.mentor_profil.tag_names %></p></div>
        <h4> Experiences </h4>
        <p><%= mentor.mentor_profil.experience %></p>
        <h4> Reviews </h4>
        <p><%= render 'shared/reviewscard', reviews: mentor.reviews %>
      </div>
      <div class="modal-footer">
         <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
