  <div class="ticket-card">
    <div class="ticket-title">   <%=  link_to ticket.title,  ticket_path(ticket) %>
    </div>
    <div class="ticket-price">
      <p><%= ticket.price %>  €/mois</p>
    </div>
    <div class="ticket-duration">
      <%= ticket.ticket_duration %>
    </div>
    <div class="ticket-priority">
      <%= ticket.priority %>
    </div>
    <div class="ticket-location">
      <%= ticket.ticket_location %>
    </div>
  </div>
