
    <div class="state">
      <ul class="list-inline flex">
        <li class="state-item"><%= link_to "Open", tickets_path(status: "open") %></li>
        <li class="state-item"><%= link_to "Pending", tickets_path(status: "pending") %></li>
        <li class="state-item"><%= link_to "Closed", tickets_path(status: "closed") %></li>
        <li class="state-item"><%= link_to "Cancelled", tickets_path(status: "cancelled") %></li>
      </ul>
    </div>
  <div class="ticket">
    
      <% @tickets.each do |ticket| %>
      <% if policy(ticket).show? %>
      <%= render 'shared/ticketcard', ticket: ticket %>
    <% end %>
  <% end %>
  </div>




