Dashboard
<div class="container">
  <div class="ticket">
    My Ticket As Alumni
    <table>
      <tr>
        <th>Pic ?</th>
        <th>title</th>
        <th>created_at</th>
        <th>alumni_id</th>
        <th>mentor_id</th>
        <th>ticket_skills</th>
        <th>ticket_location</th>
        <th>ticket_duration</th>
        <th>Status</th>
        <th>price</th>
      </tr>
      <% @tickets.each do |ticket| %>
      <tr>
        <th><img class="avatar-large" src="https://kitt.lewagon.com/placeholder/users/gabriel-dehan"></th>
        <th><p><%= link_to ticket.title , ticket_path(ticket) %></p></th>
        <th><p><%= link_to ticket.created_at , ticket_path(ticket) %></p></th>
        <th><p><%= link_to ticket.alumni_id , ticket_path(ticket) %></p></th>
        <th><p><%= link_to ticket.mentor_profil_id , ticket_path(ticket) %></p></th>
        <th><p><%= link_to ticket.ticket_skills , ticket_path(ticket) %></p></th>
        <th><p><%= link_to ticket.ticket_location , ticket_path(ticket) %></p></th>
        <th><p><%= link_to ticket.ticket_duration , ticket_path(ticket) %></p></th>
        <th><p class="status pending"><%= link_to ticket.status , ticket_path(ticket) %></p></th>
        <th><p class="price"><%= link_to ticket.price , ticket_path(ticket) %></p></th>
        <th><%= link_to "details", ticket_path(ticket) %>
      </tr>
      <% end %>
    </table>
  </div>
</div>


