Dashboard

  <div class="container">
    <div class="boutons">
   <ul class="list-inline">
      <li><%= link_to "Open", tickets_path(status: "open") %></li>
      <li><%= link_to "Pending", tickets_path(status: "pending") %></li>
      <li><%= link_to "Closed", tickets_path(status: "closed") %></li>
      <li><%= link_to "Cancelled", tickets_path(status: "cancelled") %></li>
   </ul>
  </div>

  <div class="ticket">
   <% @tickets.each do |ticket| %>
  <%= render 'shared/ticketcard', ticket: ticket %>
  <% end %>
  </div>
</div>




