<div class="container">
  <div class="main-container">
    <div class="left-panel status-<%= @selectedstatus %>">
      <ul style="list-style-type: none; padding: 5px;">
        <div class="status-item tab-open">
          <li class="status-item-text"><%= link_to "OPEN", dashboard_path(status: "open") %></li>
        </div>
        <div class="status-item tab-pending">
          <li class="status-item-text"><%= link_to "PENDING", dashboard_path(status: "pending") %></li>
        </div>
        <div class="status-item tab-closed">
          <li class="status-item-text"><%= link_to "CLOSED", dashboard_path(status: "closed") %></li>
        </div>
        <div class="status-item tab-cancelled">
          <li class="status-item-text"><%= link_to "CANCELLED", dashboard_path(status: "cancelled") %></li>
        </div>
        </ul>
    </div>

    <div class="right-panel">
      <div class="ticket">
        <% @tickets.each do |ticket| %>
        <% if policy(ticket).show? %>
            <%= render 'shared/long-ticket-card', ticket: ticket %>
        <% end %>
      <% end %>
      </div>
    </div>
  </div>
</div>


