<div class="container">
  <div class="main-container">
    <div class="left-panel">
      <ul>
        <div class="status-item">
          <li class="status-item-text"><%= link_to "OPEN", tickets_path(status: "open") %></li>
        </div>
        <div class="status-item">
          <li class="status-item-text"><%= link_to "PENDING", tickets_path(status: "pending") %></li>
        </div>
        <div class="status-item">
          <li class="status-item-text"><%= link_to "CLOSED", tickets_path(status: "closed") %></li>
        </div>
        <div class="status-item">
          <li class="status-item-text"><%= link_to "CANCELLED", tickets_path(status: "cancelled") %></li>
        </div>
        </ul>
    </div>

    <div class="right-panel">
      <div class="ticket">
      <% @tickets.each do |ticket| %>
        <% if policy(ticket).show? %>
            <%= render 'shared/long-ticket-card', ticket: ticket %>
        <% end %>
      <% end %>
      </div>
    </div>
  </div>
</div>


