<div class="container">
  <h1>My tickets</h1>
  <div class="mission">
    <div class="mission-name">
      <h3><p><%= @ticket.title %></p></h3>
      <p><%= @ticket.created_at %></p>
    </div>
    <div class="mission-body">
      <p><strong><%= @ticket.ticket_skills %></strong></p>
      <p><%= @ticket.ticket_location %></p>
      <p><%= @ticket.ticket_duration %></p>
    </div>
    <div class="mission-status">
       <p class="status pending"><%= @ticket.status %></p>
       <p class="price"><%= @ticket.price %></p>
    </div>
  </div>

  <div class="container">
    <h2>Recommended mentors</h2>
    <div class="row">
      <% @mentor_profils.each do |mentor_profil| %>
        <div class="col-xs-12 col-sm-4 col-md-6">
          <%= render 'shared/mentorcard', mentor: mentor_profil.user %>
        </div>
      <% end %>
    </div>
  </div>

  <div class="container">
    <div id="container_mentor">
      <h2>Selected mentor</h2>
    </div>
  </div>
</div>
