<div class="container">
  <div>
    <%= render 'shared/bigticketcard', ticket: @ticket %>
  </div>
  <div class="mission">
    <% #à garder pour trouver comment afficher le drapeau en fonction de la langue %>
    <div class="mission-body">
      <p><strong>Language : </strong><%= @ticket.speaking_language %></p>
    </div>
    <div class="mission-status">
        <div>
            <% if policy(@ticket).edit? %>
              <%= link_to "Update", edit_ticket_path(@ticket), class: 'btn btn-success' %>
              <% #Mettre le lien dans l'update ? %>
              <%= link_to 'Close', ticket_path(@ticket), class: 'btn btn-primary',
                  #method: :close,
                  data: { confirm: "Are you sure?" } %>
              <% #lien cancel à brancher %>
              <%= link_to 'Cancel', edit_ticket_path(@ticket), class: 'btn btn-primary' %>
              <%= link_to "Delete", ticket_path(@ticket), class: 'btn btn-danger',
                  method: :delete,
                  data: { confirm: "Are you sure?" } %>
            <% end %>
          <%= link_to 'Back', dashboard_path, class: 'btn btn-info' %>
        </div>
    </div>
  </div>
<br>
<br>
<br>
  <div class="container">
     <div class="row">
      <% if @ticket.mentor.blank? %>
        <h2>Recommended mentors</h2>
        <% @match_mentors_list.each do |mentor_profil| %>
          <div>
            <div class="col-xs-12 col-sm-4 col-md-6">
              <%= render 'shared/square-card-mentor', mentor: mentor_profil.user %>
              <%= form_tag orders_path do %>
  <%= hidden_field_tag 'ticket_id', @ticket.id %>
  <%= submit_tag 'Purchase', class: 'btn btn-primary' %>
<% end %>
            </div>
          </div>
        <% end %>
      <% else %>
        <h2>Selected mentor</h2>
        <div class="col-xs-12 col-sm-4 col-md-6">
          <%= render 'shared/square-card-mentor', mentor: @ticket.mentor %>
          <% if true %>
            <%= link_to"Add a review for #{@ticket.mentor.first_name}", new_ticket_review_path(@ticket) %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
