<div class="container">
  <div class="mission">
    <div class="mission-name">
      <h3><p><strong>Title : </strong><%= @ticket.title %></p></h3>
      <p></strong>Date Of Creation : </strong><%= @ticket.created_at %></p>
    </div>
    <div class="mission-body">
      <p><strong>Skills : </strong><%= @ticket.ticket_skills %></p>
      <p><strong>Location : </strong><%= @ticket.ticket_location %></p>
      <p><strong>Duration : </strong><%= @ticket.ticket_duration %></p>
    </div>
    <div class="mission-status">
       <p class="status pending">Status : <%= @ticket.status %></p>
       <p class="price">Proposed Price : <%= @ticket.price %></p>
        <div>
            <% if policy(@ticket).edit? %>
              <%= link_to "Update", edit_ticket_path(@ticket), class: 'btn btn-success' %>
              <%= link_to 'Close', edit_ticket_path(@ticket), class: 'btn btn-primary' %>
              <% #lien delete à brancher %>
              <%= link_to 'Cancel', edit_ticket_path(@ticket), class: 'btn btn-primary' %>
              <%= link_to "Destroy", edit_ticket_path(@ticket), class: 'btn btn-danger' %>

            <% end %>
          <%= link_to 'Back', dashboard_path, class: 'btn btn-info' %>
        </div>
    </div>
  </div>
<br>
<br>
<br>
  <div class="container">
     <div class="row">
      <% if @ticket.mentor.blank? %>
        <h2>Recommended mentors</h2>
        <% @match_mentors_list.each do |mentor_profil| %>
          <div class="col-xs-12 col-sm-4 col-md-6">
            <%= render 'shared/square-card-mentor', mentor: mentor_profil.user %>
          </div>
        <% end %>
      <% else %>
        <div class="col-xs-12 col-sm-4 col-md-6">
          <%= render 'shared/square-card-mentor', mentor: @ticket.mentor %>
        </div>
      <% end %>
    </div>
  </div>
</div>

