<div class="container bg-white p-3 border-rounded">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3">
      <div class="auth">
        <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div class="form-inputs">
            <%= f.input :email, required: false, autofocus: true  %>
            <%= f.input :password, required: false %>
            <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
          </div>
          <div class="form-actions">
            <%= button_tag class: 'btn btn-primary' do %>
              <i class='far fa-paper-plane'></i>Sign in
            <% end %>
          </div>

          <%= link_to omniauth_authorize_path(resource_name, "github"), class: "btn btn-default github" do %>
            <i class="fab fa-github"></i>Sign in with GitHub
          <% end %>
        <% end %>
        <div class="flex_box space-between">
        <%= link_to "Sign up", new_user_registration_path %>
        <%= link_to "Forgot your password ?", new_user_password_path %>
        </div>
      </div>
    </div>
  </div>
</div>
