<!-- app/views/payments/new.html.erb -->
<h1>Purchase of ticket <%= @order.ticket_id %></h1>
<%= form_tag order_payments_path(@order) do %>
  <article>
    <label class="amount">
      <span>Amount: <%= humanized_money_with_symbol(@order.amount_cents) %></span>
    </label>
  </article>

<div class="container">
  <div class="row">
    <%= render 'shared/bigticketcard', ticket: @ticket %>
  </div>
  <div class="row">
    <div class="col-xs-6">
  <%= render 'shared/square-card-mentor', mentor: @mentor %>
  </div>
  <div class="col-xs-6">
    <%= render 'shared/card-invoice', order: @order %>
  </div>
</div>
